@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Roboto+Mono:wght@400;500;700&display=swap");

html {
    --color-primary-dark: #2c224e;
    --color-primary: #754ef9;
    --color-primary-ligth: #cdbeff;
    --color-white-dark: #f1effa;
    --color-white: #f8f7fc;
    --color-black: #0e091e;
    --page-spacing-x: 1.33rem;
    --page-spacing-y: 2rem;
    --navbar-height: 5rem;

    --font-primary: "Roboto Mono", monospace;
    --font-secondary: "Open Sans", sans-serif;

    background-color: var(--color-white-dark);
    color: var(--color-black);
    font-size: 12px;
    font-family: var(--font-secondary);
}

body {
    overflow-x: hidden;
}

.page {
    padding: 0 var(--page-spacing-x) var(--page-spacing-y);
    min-height: 100vh;
    box-sizing: border-box;
}

.headline {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-black);
}
.title {
    font-size: 2rem;
    font-weight: 800;
    font-family: var(--font-secondary);
}
.code {
    font-size: 1.5rem;
    font-family: var(--font-primary);
    font-weight: bold;
}
.color-white {
    color: var(--color-white);
}
.color-primary {
    color: var(--color-primary);
}
.color-primary-ligth {
    color: var(--color-primary-ligth);
}

.button {
    display: block;
    padding: 8px 12px;
    background-color: var(--color-primary);
    border: 1px solid var(--color-white);
    border-radius: 8px;
    color: var(--color-white);
}

@media screen and (min-width: 700px) {
    html {
        font-size: 14px;
        --page-spacing-x: 2rem;
        --page-spacing-y: 3rem;
    }
}
@media screen and (min-width: 900px) {
    html {
        font-size: 16px;
        --page-spacing-y: 5rem;
    }
}

/**
@media screen and (min-width: 700px) {

}
@media screen and (min-width: 900px) {

}

**/
