@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap");

html {
    --color-primary: #754ef9;
    --color-primary-ligth: #cdbeff;
    --color-white: #f1effa;
    --color-black: #0e091e;
    --page-spacing-x: 1rem;
    --page-spacing-y: 5rem;

    background-color: var(--color-white);
    color: var(--color-black);
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
}

.page {
    padding: calc(var(--page-spacing-y) + 1rem) var(--page-spacing-x);
    min-height: 100vh;
    box-sizing: border-box;
}

.headline {
    font-size: 32px;
    font-weight: bold;
    color: var(--color-black);
}
.headline.white {
    color: var(--color-white);
}

.button {
    display: block;
    padding: 8px 12px;
    background-color: var(--color-primary);
    border: 1px solid var(--color-white);
    border-radius: 8px;
}
