@import "../../styles/vars.scss";

.container {
    position: relative;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.mockup {
}

.content {
    position: absolute;
    z-index: 0;
    bottom: 0;
    height: calc(100% - 1.2rem);
}

@media screen and $laptop-device {
    .content {
        height: calc(100% - 1rem);
        border: 1px solid red;
    }

}

