.page {
    composes: page from global;
    position: relative;
}

.cover {
    composes: first-page-section from global;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.cover::before {
    content: "";

    position: absolute;
    top: 0;
    z-index: -1;

    width: 100vw;
    height: 100%;

    background-color: var(--color-primary);
}

.imageContainer {
    --size: 80vw;
    width: var(--size);
    height: var(--size);
    border: solid var(--color-primary) 1.5rem;
    border-radius: 50%;
    margin-bottom: calc(var(--page-spacing-y) * 2);

    background-color: var(--color-white);

    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    width: 80%;
    border-radius: 50%;
    padding: 1rem;
    overflow: hidden;

    background-color: var(--color-primary);
}
.image img {
    width: 100%;
    height: 100%;

    object-position: center;
    object-fit: cover;
}

.title {
    composes: code from global;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}
.title strong {
    padding-left: 2em;
    margin-top: 4px;
}
.title span {
    color: var(--color-white);
}
.projects {
    composes: page-section from global;
}
.projects h2 {
    margin-bottom: var(--page-spacing-y);
}
.projectsList {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--page-spacing-y) 0;
}

@media screen and (min-width: 700px) {
    .imageContainer {
        --size: 50vh;
    }
    .title {
        font-size: 24px;
    }
}

@media screen and (min-width: 900px) {
    .cover::before {
        width: 40%;
        height: 100vh;
        left: calc(var(--page-spacing-x) * -1);
        top: calc(var(--navbar-height) * -1);
        border-radius: 0 0 100% 0;
    }

    .cover {
        flex-direction: row;
        align-items: center;
    }
    .imageContainer {
        --size: 30vw;
        margin: 0 2rem 0 0;
    }
    .title {
        font-size: 32px;
    }
    .title span {
        color: var(--color-primary);
    }
    .projects h2 {
        margin-bottom: 3rem;
    }
}
