.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 2;

    padding: var(--page-spacing-y) var(--page-spacing-x);
    height: var(--navbar-height);
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);

    background-color: var(--color-primary);

    transition-property: box-shadow, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}
.container a {
    text-decoration: none;
}
.containerScrolled {
    box-shadow: 1px 8px 10px 1px rgba(0, 0, 0, 0.25);
}

.listContainer {
    display: none;
}

.list li {
    opacity: 0;
}

.closeList {
    font-weight: bold;
    color: var(--color-white);
    font-size: 2rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
}

.listShowed {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    --listShowedWidth: 70vw;
    --listItemHeight: 3rem;
}
@keyframes listOpened {
    from {
        width: 0;
    }
    to {
        width: var(--listShowedWidth);
    }
}
.listShowed .list {
    animation: listOpened var(--animationDuration);
    padding: 4rem 2rem 3rem;
    width: var(--listShowedWidth);
    height: 100vh;
    box-sizing: border-box;
    z-index: 2;

    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
}

@keyframes listItemOpened {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: var(--listItemHeight);
        opacity: 1;
    }
}

.listShowed .list li {
    animation: listItemOpened var(--animationDuration);
    animation-delay: var(--animationDuration);
    animation-fill-mode: forwards;
    overflow: hidden;
}

@keyframes listBackgroundOpened {
    0% {
        width: 0;
        opacity: 0;
    }
    40% {
        width: 50%;
        opacity: 0.5;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}
.listShowed .listBackground {
    animation: listBackgroundOpened var(--animationDuration);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.7);
}

@keyframes listClosed {
    from {
        width: var(--listShowedWidth);
    }
    to {
        width: 0%;
        padding: 0;
    }
}
.listClosed .list {
    animation: listClosed var(--animationDuration);
    animation-fill-mode: forwards;
    animation-delay: var(--animationDuration);
}
@keyframes listItemClosed {
    from {
        height: var(--listItemHeight);
        opacity: 1;
    }

    to {
        height: 0;
        opacity: 0;
    }
}
.listClosed .list li {
    animation: listItemClosed var(--animationDuration);
    animation-fill-mode: forwards;
}

@keyframes listBackgroundClosed {
    0% {
        width: 100%;
        opacity: 1;
    }
    40% {
        width: 50%;
        opacity: 0.5;
    }
    100% {
        width: 0;
        opacity: 0;
    }
}
.listClosed .listBackground {
    animation: listBackgroundClosed var(--animationDuration);
    animation-fill-mode: forwards;
    animation-delay: var(--animationDuration);
}
.icon {
    cursor: pointer;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconClicked {
    position: relative;
}
@keyframes click {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.iconClicked::after {
    content: "";

    animation: click 400ms;
    animation-fill-mode: forwards;

    position: absolute;
    top: 0;
    z-index: -1;

    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    background-color: rgba(0, 0, 0, 0.3);
}

.link {
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 700px) {
}

@media screen and (min-width: 900px) and (orientation: landscape) {
    .container {
        background-color: transparent;
    }
    .containerScrolled {
        background-color: var(--color-primary);
    }
    .menuButton {
        display: none;
    }
    .listContainer {
        display: block;
    }
    .list {
        display: flex;
        align-items: center;
    }
    .list li {
        opacity: 1;
        margin: 0;
    }
    .link {
        margin: 0 2rem 1rem 0;
    }
}
