.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 var(--page-spacing-x);
    height: var(--page-spacing-y);
    box-sizing: border-box;
}
.list {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 8px;
}
.list li {
    margin-top: 8px;
    color: var(--color-white);
    font-size: 12px;
}
.cvButton {
    display: none;
}

@media screen and (min-width: 700px) {
    .list {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .list li {
        margin: 0 12px;
    }
    .cvButton {
        display: block;
    }
}
@media screen and (min-width: 900px) {
    .list li {
        font-size: 16px;
        color: var(--color-black);
    }
    .cvButton.li {
        color: var(--color-white);
    }
}
