.container {
    border-radius: 1rem;
    background-color: var(--color-white);
    overflow: hidden;
    box-shadow: 5px 4px 9px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.projectInformation {
    padding: 1.5rem 2rem;
}

.title {
    composes: title from global;
    margin-bottom: 1rem;
    color: var(--color);
}

.desc {
    margin-bottom: 2rem;
}

.link {
    margin-bottom: 1rem;
}

.picture {
    padding: 2rem; 
    background-color: var(--color);
    box-sizing: border-box;
}

/*
 * Expanded mode styles
 * **/
.moreDetails {
    width: 100%;
    height: min-content;
    max-height: 0;
    overflow: hidden;
    transition: max-height ease-in 400ms;
}

.expandedContainer .moreDetails {
    max-height: 50vh;
}

.technologies {
    margin: 2rem 0 4rem;
}

.subtitle {
    composes: subtitle from global;
    color: var(--color);
    margin-bottom: 1rem;
}

.technologiesList {
    composes: list from global;
}
.mobile .mockup{
    height: 300px;
}

/*
 * Media querys 
 */
@media screen and (min-width: 700px) {
    .picture {
        display: flex;
        align-items: center;
        padding: 4rem;
    }
    .mockup {
    }
}

@media screen and (min-width: 900px) and (orientation:  landscape) {
    .container {
        display: flex;
        justify-content: space-between;
    }
    .desc, .moreDetails{
        width: 80%;
    }
    .projectInformation {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 50%;
    }

    .picture {
        width: 50%;
        display: flex;
        align-items: center;
    }
    .mockup {
        max-height: 260px;
    }
}
