.page {
    background-color: var(--color-primary);
}

.cover {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageContainer {
    --size: 80vw;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: var(--color-white);
    border: solid var(--color-primary) 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.image {
    width: 80%;
    border-radius: 50%;
    padding: 1rem;
    background-color: var(--color-primary);
    overflow: hidden;
}
.image img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.title {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
}
.title strong {
    padding-left: 2em;
    margin-top: 4px;
}
.title span {
    color: var(--color-white);
}

@media screen and (min-width: 700px) {
    .imageContainer {
        --size: 50vh;
    }
    .title {
        font-size: 24px;
    }
}
